body {
  margin: 0;
  padding: 0;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.redux{
  height: 0;
  width:0;
  position: absolute;
}
